<extend name="Base/layout" />

<block name="content">
    <div class="layui-breadcrumb crumbs shadow" lay-separator="/">         
        <a href="/">首页</a>
        <a href="{:U('article/index')}">文章</a><a>{$tag}</a> 
    </div>
    <div class="page-left">
        <empty name="data">
            <div class="blog-box-empty shadow">
                <div class="l-content">博主暂未发布<em>{$tag}</em>分类的文章</div>
            </div>
            <foreach name="hot"  item="art" key="k">
                <include file="Base:blog" />
            </foreach>
        </empty>
        <foreach name="data" key="k" item="art">
            <include file="Base:blog" />
        </foreach>
    </div>
    <div class="page-right topic">
        <include file="Base:category" />
        <include file="Base:hot_new_list" />
        <include file="Base:link" />
    </div>
</block>

<block name="javascript">
<script src="__JS__/index.js"></script>
<script type="text/javascript">
    $(function(){
        Index.initialize({
        });
    });
</script>
</block>