<extend name="Base/layout" />

<block name="stylesheets">
<style type="text/css">
</style>
</block>

<block name="urls">

</block>

<block name="content">
    <include file="Base:breadcrumb" />
    <div id="photos" class="">
        <ul>
            <li class="container shadow">
                <img layer-pid="" layer-src="__IMG__/big/1.jpg" lay-src="__IMG__/small/1.png">
                <div class="mask"><a href="javascript:;">平潭</a></div>
            </li>
            <li class="container shadow">
                <img layer-pid="" layer-src="__IMG__/big/2.jpg" lay-src="__IMG__/small/2.png">
                <div class="mask"><a>平潭</a></div>
            </li>
            <li class="container shadow">
                <img layer-pid="" layer-src="__IMG__/big/3.jpg" lay-src="__IMG__/small/3.png">
                <div class="mask"><a>平潭</a></div>
            </li>
            <li class="container shadow">
                <img layer-pid="" layer-src="__IMG__/big/4.jpg" lay-src="__IMG__/small/4.png">
                <div class="mask"><a>平潭</a></div>
            </li>
            <li class="container shadow">
                <img layer-pid="" layer-src="__IMG__/big/5.jpg" lay-src="__IMG__/small/5.png">
                <div class="mask"><a>平潭</a></div>
            </li>
            <li class="container shadow">
                <img layer-pid="" layer-src="__IMG__/big/6.jpg" lay-src="__IMG__/small/6.png">
                <div class="mask"><a>青春飞扬</a></div>
            </li>
            <li class="container shadow">
                <img layer-pid="" layer-src="__IMG__/big/7.jpg" lay-src="__IMG__/small/7.png">
                <div class="mask"><a href="javascript:;">平潭</a></div>
            </li>
            <li class="container shadow">
                <img layer-pid="" layer-src="__IMG__/big/8.jpg" lay-src="__IMG__/small/8.png">
                <div class="mask"><a>平潭</a></div>
            </li>
            <li class="container shadow">
                <img layer-pid="" layer-src="__IMG__/big/9.jpg" lay-src="__IMG__/small/9.png">
                <div class="mask"><a>平潭</a></div>
            </li>
            <li class="container shadow">
                <img layer-pid="" layer-src="__IMG__/big/10.jpg" lay-src="__IMG__/small/10.png">
                <div class="mask"><a>平潭</a></div>
            </li>
            <li class="container shadow">
                <img layer-pid="" layer-src="__IMG__/big/11.jpg" lay-src="__IMG__/small/11.png">
                <div class="mask"><a>平潭</a></div>
            </li>
            <li class="container shadow">
                <img layer-pid="" layer-src="__IMG__/big/12.jpg" lay-src="__IMG__/small/12.png">
                <div class="mask"><a>平潭</a></div>
            </li>
            <li class="container shadow">
                <img layer-pid="" layer-src="__IMG__/big/13.jpg" lay-src="__IMG__/small/13.png">
                <div class="mask"><a>平潭</a></div>
            </li>
        </ul>
    </div>
</block>

<block name="javascript">
<script src="__JS__/index.js"></script>
<script type="text/javascript">
    $(function(){
        Index.initialize({
           
        });

        $(".container").bind("mouseenter mouseleave",function(e) {
            var w = $(this).width();
            var h = $(this).height();
            var x = (e.pageX - this.offsetLeft - (w / 2)) * (w > h ? (h / w) : 1);
            var y = (e.pageY - this.offsetTop - (h / 2)) * (h > w ? (w / h) : 1);
            $('#x').html(this.offsetLeft);
            $('#y').html(this.offsetTop);
            var direction = Math.round((((Math.atan2(y, x) * (180 / Math.PI)) + 180) / 90) + 3) % 4;
            //direction的值为“0,1,2,3”分别对应着“上，右，下，左”
            $('#p').html(Math.atan2(y, x) * (180 / Math.PI));
            var eventType = e.type;
            //alert(e.type);
            if(e.type == 'mouseenter'){
                if(direction==0){
                    $(this).find('.mask').css({'display':'block','top':-h+'px','left':'0px'}).animate({'top':'0px'},200);
                }else if(direction==1){
                    $(this).find('.mask').css({'display':'block','left':w+'px','top':'0px'}).animate({'left':'0px'},200);
                }else if(direction==2){
                    $(this).find('.mask').css({'display':'block','top':h+'px','left':'0px'}).animate({'top':'0px'},200);
                }else if(direction==3){
                    $(this).find('.mask').css({'display':'block','left':-w+'px','top':'0px'}).animate({'left':'0px'},200);
                }
            }else{
                if(direction==0){
                    $(this).find('.mask').animate({'top':-h+'px'},50);
                }else if(direction==1){
                    $(this).find('.mask').animate({'left':w+'px'},50);
                }else if(direction==2){
                    $(this).find('.mask').animate({'top':h+'px'},50);
                }else if(direction==3){
                    $(this).find('.mask').animate({'left':-w+'px'},50);
                }
            }
        });
        layui.use(['layer','form','element','flow'], function(){
            var layer = layui.layer,
                form = layui.form(),
                element = layui.element(),
                $ = layui.jquery,
                flow = layui.flow;

            flow.lazyimg({
                elem: '#photos img'
            });

            layer.photos({
                photos: '#photos',
                anim:-1,
                shade:0.1,resize:false,
                tab: function(pic, layero){
                    console.log(pic) //当前图片的一些信息
                  }
            });
        });
    });
</script>
</block>