<extend name="Base/layout" />

<block name="title">{$error_title}</block>
<block name="stylesheets">
<style type="text/css">
    .pager{margin:auto;overflow:hidden; margin-top:13%;}
    .dummy-center{width:600px; margin:auto; font-size:24px; color:#afb5bf; font-family:"msyh",Arial; margin-top:16px;}
</style>
</block>

<block name="content">
<div class="box span12" style="height:400px;">
    <div class="pager">
        <img src="__IMG__/error/error_execution.png">
    </div>
    <div class="dummy-center">{$error_message}</div>
</div>
</block>